<!DOCTYPE html>
<html>
<head>
    <style type="text/css">
    body {
        margin-top: 0px;
        margin-left: 0px;
        background-color: #000000;
    }
    canvas {
        position: relative;
        top: 0;
        left: 0;
    }
    #remoteVideos video {
        position: relative;
        top: 0;
        left: 0;
        height: 100%;
    }
    #localVideo {
        z-index:1;
        position: absolute;
        top: 20px;
        left: 20px;
        height: 20%;
        width: 20%;
    }
    </style>
<script src="simplewebrtc.latest.js"></script>
</head>

<body>
    <div style="position: relative; left: 0; top: 0;">
        <div id="remoteVideo"></div>
        <video id="localVideo"></video>
    </div>
<script>
/*
for (var i = 0; i < remoteVideos.childNodes.length; i++) {
    remoteVideo.childNodes[i].width = window.document.width;
    remoteVideo.childNodes[i].height = window.document.height;
}

localVideo.width = window.document.width * 0.2;
localVideo.height = window.document.height * 0.2;
*/
var webrtc = new SimpleWebRTC({
	localVideoEl: 'localVideo',
	remoteVideosEl: 'remoteVideo',
	autoRequestMedia: true
	//peerConnectionConfig: {'iceServers':[{'url':'turn:robot-pi.local', 'username':'test', 'credential':'test'}]}
});

webrtc.on('readyToCall', function () {
	webrtc.joinRoom('PrivateRoomForMyRobot_BCL');
});
</script>

</body>

</html>
